
    .table-wrapper-scroll-y {
        display: block;
        max-height: 450px;
        overflow-y: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        }
        .registro_pedido {
            display: block;
            max-height: 80vh;
            overflow-y: auto;
            -ms-overflow-style: -ms-autohiding-scrollbar;
                    }
                    .detalle_pedido{
                        display: block;
                        max-height: 60vh;
                        overflow-y: auto;
                        -ms-overflow-style: -ms-autohiding-scrollbar;
                    }
       
        @media (max-width:553px) {
            .registro_pedido {
                
                display: block;
                max-height: 200px;
                overflow-y: auto;
                -ms-overflow-style: -ms-autohiding-scrollbar;
                        }
                        .detalle_pedido{
                            display: block;
                            max-height: 25vh;
                            overflow-y: auto;
                            -ms-overflow-style: -ms-autohiding-scrollbar;
                        }
                        .table-wrapper-scroll-y {
                            max-height: 250px;
                        }
                
        }
